* {
    padding: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #9D75D1;
    background-image: url(../assets/NGstill.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    overflow-x: hidden;

}

.light-button {
    font-size: 32px;
}

#tab-divider {
    height: 240px;
    flex-grow: 1;
}

#stats-wrapper {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 768px;
    height: auto;
    z-index: 10;
    margin-top: auto;

}

#stats-tab {
    background-color: #081D36;
    color: #f5f5f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 24px;
    border-radius: 100px 100px 0 0;
}

#stats-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    gap: 32px;
}

#stats-content h1 {
    font-size: 64px;
    text-align: right;
    width: 100%;
}

#NGstarCount {
    height: 108px;
    width: 100%;
    align-self: flex-start !important;
}


.stats-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2B4E78;
    text-align: right;
    width: 100%;
}

#mane-retrieved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

#mane-retrieved-msg {
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

.stats-stats ul {
    list-style: none;
    height:80% ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 108px;

}

.stats-stats * {
    font-size: 28px;
}

.stats-stats h2 {
    font-size: 40px;
}

.light-button {
    font-size: 56px;
    text-align: center;
    text-wrap-style: pretty;
}


@media(max-width: 768px) {
    #stats-wrapper{
        width: 100%;
    }
}
